.page-wrapper{ padding: 40px 0; background: #f1f1f1; width: 100%;}


.famous-quotes{ background: #ddd; padding: 1.25em;}
.famous-quotes .quote{ font-size: 1.25em;}

#five-lines{ background: #fff url('http://powellong.com/data/wallpapers/110/WDF_1532989.jpg') no-repeat center center; width: 100%; height: 20em; padding: 3em; color: #fff; font-size: 1.25em;}

#five-things h4{ color: #ddd;}
